@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spectral:200,300,400,600,800&display=swap');
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input:not([type="radio"]):not([type="checkbox"]) {
    -webkit-appearance: none;
    border-radius: 0;
}


  *{margin: 0;padding: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}
html, body{height:100%;}
body {font-size: 14px;overflow-x: hidden;line-height: 1.47;font-family: 'Muli';color: #ffffff;}
.clearfix:after {content: " ";visibility: hidden;display: block;height: 0;clear: both}
.clearfix:after {content: "";display: table;clear: both}
a {text-decoration: none}
a:focus,a:hover {color: inherit}
a:focus,button:focus {outline: 0!important}
a:focus,a:hover {text-decoration: none}
p {margin: 0}
ul {padding: 0;margin: 0;list-style: none;margin-bottom: 0}
h1,h2,h3,h4,h5,h6 {margin: 0;padding: 0;font-weight: 400}
label {margin: 0;font-weight: 400}
img {border: 0}
svg:not(:root) {overflow: hidden}
.pull-left {float: left}
.pull-right {float: right}
input:focus{outline: 0}
::placeholder {color:#fff;opacity: 1;} 
:-ms-input-placeholder {color:#fff;}
::-ms-input-placeholder {color:#fff;}

/* -- container -- */
.container{max-width: 1170px; width: 100%; margin: 0 auto; padding: 0 15px;}
/* -- container -- */


/* -- Header -- */
header{background:transparent;padding: 25px 0;}
.header-section{display: flex; align-items: center; flex-wrap:wrap; }
.sticky-header{background-color: #f8c5b0;position: fixed;top: -100px;left: 0;width: 100%;display: block;transition: top 0.5s;
              -webkit-box-shadow: -1px 0px 7px 1px rgba(0,0,0,0.35);
             -moz-box-shadow: -1px 0px 7px 1px rgba(0,0,0,0.35);
             box-shadow: -1px 0px 7px 1px rgba(0,0,0,0.35);padding: 10px 0;z-index: 8;} 

.download-app {height: 56px;width: 168px; margin-left: auto;display: none;}
.sticky-header .download-app{display: block;}
.mobile-menu-icon, .mobile-panel-heading{display: none;}
/* -- Header -- */


/* -- Logo -- */
.logo {	height: 33px;width: 87px;display: inline-block;vertical-align: middle; margin-right: 158px;}
/* -- Logo -- */


/* -- Navigation -- */
nav{width: auto !important;}
nav, nav li {display: inline-block;vertical-align: middle;}
nav li{color: #FFFFFF;font-family: Muli;font-size: 18px;font-weight: bold;line-height: 23px;margin-right: 55px;}
nav li a{color: #fff;display: block;}
nav li a.active{position: relative}
nav li a.active::before,
nav li a.active::after{content: "";height: 4px; width: 4px; background: #fff; position: absolute;top: 0;
                     bottom: 0; margin: auto; border-radius: 100px;}
nav li a.active::before{left: -12px;}
nav li a.active::after{right: -12px;}
.mobile-panel{display: none;}
/* -- Navigation -- */


/* -- Home page -- */
.homepage-wrapper{background: #f5e1d6;}
.homepage-section-2, .homepage-section-3, .homepage-section-4 {margin: 180px 0 0;}
.homepage-section-1 .banner{padding-top: 50px}
.homepage-section-1{background: url(../images/Main-page-shape.svg) no-repeat;height:580px;background-size:contain; }

.your-daily-relations {width: 488px;color: #FFFFFF;	font-family: Spectral;font-size: 40px;font-weight: 800;
    	letter-spacing: 0.5px;	line-height: 56px;padding-top: 80px;}
.homepage-email-textbox-section .enter-your-email{width: 300px;}
.homepage-email-textbox-section .send-btn{border: 0;background: #FB8F70;width: 173px;border-radius: 8px;color: #FFFFFF;
         font-family: Muli;font-size: 18px;font-weight: bold;line-height: 23px;position: initial;
         display: inline-block;vertical-align: bottom;padding: 15px; margin-left: 15px;}


.thank-you-for-reques {display: none;padding-top: 30px;color: #FFFFFF;font-family: Muli;font-size: 18px;font-weight: bold;line-height: 23px;}

    
.image-text-section{display: flex; flex-wrap: wrap;align-items: center;}
.right-side{margin-left: auto}
.descp-section{width: 370px;}
.descp-section h2 {color: #4E63CB;font-family: Spectral;font-size: 32px;font-weight: 800;letter-spacing: 0.4px;line-height: 44px;
                   margin-bottom: 10px}
.descp-section p {color: #3F5260;font-family: Muli;font-size: 24px;line-height: 36px;}


.homepage-section-1 .image-text-section{align-items: flex-start;}
.homepage-section-1 .image-section{background: url(../images/points.svg) no-repeat; height: 540px;width: 550px;
                                   text-align: center;background-size: contain;}
.homepage-section-1 .image-section img{height: 528px;}


.homepage-section-2 .image-section{background: url(../images/mobile2-bg.svg) no-repeat;height: 550px; 
                                   width: 578px; text-align: center; background-size:contain; position: relative; }
.homepage-section-2 .image-section img{height: 528px;margin-top: 30px;position: relative;}
.homepage-section-2 .image-section::after {content: "";position: absolute;height: 354px;width: 300px;
    background: url('../images/homepage-section2.png') no-repeat;top: 150px;background-size: contain;}



.homepage-section-3 .image-section{background: url(../images/mobile3-bg.svg) no-repeat;height: 605px; 
                                   width: 650px; text-align: center; background-size:contain }
.homepage-section-3 .descp-section h2{color:#6ba7af} 
.homepage-section-3 .image-section img{height: 528px; margin-top: 50px;}
.homepage-section-3 .image-text-section{position: relative;}
.homepage-section-3 .image-text-section:after {content: "";background: url(../images/02-01-shape.svg) no-repeat;
height: 560px;width: 650px;position: absolute;top: 0;left: -30px;right: 0;bottom: 0;background-size: contain;z-index: 2;}
.homepage-section-3 .descp-section{width: 330px; margin-left:100px; }


.homepage-section-4{background: url('../images/waves-web.svg') no-repeat right;background-size: 19%;}


.homepage-section-4 .descp-section h2{color:#ee797f} 
.homepage-section-4 .image-section{background: url(../images/mobile4-bg.svg) no-repeat;height: 570px;
                                  width: 570px;text-align: center;background-size: contain}
.homepage-section-4 .image-section img{height: 540px;    margin-top: 0px;  }





.testimonial{background: url('../images/testimonials-backgroud.png') no-repeat;background-size: cover;height: 643px;margin-top: 180px;}
.testimonial-box {display: flex;flex-wrap: wrap;align-items: center;justify-content: center;height: 643px;width: 100%;}
.testimonial-box{width: 830px;margin: 0 auto}
.testimonial-content{color: #FFFFFF;font-family: Spectral;font-size: 32px;font-weight: 800;letter-spacing: 0.4px;	
                     line-height: 52px;	text-align: center;}
.testimonial-descp{margin-top: 50px;text-align: center}
.testimonial-descp p{color: #FFFFFF;font-family: Muli;font-size: 24px;font-weight: bold;line-height: 36px;
                    text-align: center; margin-bottom: 10px;}
.testimonial-descp article{color: #FFFFFF;font-family: Muli;font-size: 18px;line-height: 23px;}

.carousel-indicators{text-align: center; margin: 30px 0 0 0;}
.carousel-indicators li{display: inline-block;width: 6px;height: 6px;margin-left: 5px;text-indent: -999px;
                        cursor: pointer;background: #bac5ea;border-radius: 10px;vertical-align: middle;}
.carousel-indicators .active {width: 8px;height: 8px;margin: 0;background-color: #fff;}



.downloadapp-section{display: flex; align-items:center; justify-content: center; height: 525px;text-align: center; position: relative;}
.downloadapp-section::after {content: "";position: absolute;right: 0;bottom: -60px;
    background: url('../images/dotted_web.svg');width: 200px;height: 471px;background-size: cover;}
.downloadapp-section::before{content: "";position: absolute;left: 0;top: 0px;
    background: url('../images/dotted_web.svg');width: 200px;height: 471px;background-size: cover;
    transform: rotateY(180deg);}
.downloadapp-section-box{width: 770px; margin: 0 auto;position: relative;z-index: 1;}
.downloadapp-section p{color: #75678A;font-family: Spectral;font-size: 40px;font-weight: 800;letter-spacing: 0.5px;line-height: 56px;margin-bottom: 30px;}
.downloadapp-section-box .enter-your-email{color: #75678A;border-bottom: 1px solid #75678A;}
.downloadapp-section-box ::placeholder {color: #75678A;;opacity: 1;} /* Chrome, Firefox, Opera, Safari 10.1+ */
.downloadapp-section-box :-ms-input-placeholder {color: #75678A;}/* Internet Explorer 10-11 */
.downloadapp-section-box ::-ms-input-placeholder {color: #75678A;}
.downloadapp-section-box  .thank-you-for-reques{color: #75678A;}
/* -- Home Page -- */




/* -- About Us -- */

    /* -- Section-1 -- */
    .aboutus-section-1{background: #f5e1d6 url(../images/About-bg-1.png) no-repeat top center; background-size: cover;
        height: 735px;}
    .aboutus-section-1 section{display: flex;align-items: center;justify-content: center;height: 100%;}
    .strong-relationships {color: #FFFFFF;	font-family: Spectral;font-size: 40px;font-weight: 800;	letter-spacing: 0.5px;	line-height: 56px;	text-align: center; margin-bottom: 35px;}
    .live-happier-and-hea {color: #FFFFFF;font-family: Muli;font-size: 24px;line-height: 36px;text-align: center;}
    /* -- Section-1 -- */


    /* -- Section-2 -- */
    .aboutus-section-2{background: #f5e1d6;}
    .emi-means-smile-in {margin-bottom: 30px;color: #EE797F;font-family: Spectral;font-size: 32px;font-weight: 800;letter-spacing: 0.4px;line-height: 44px;}
    .heart-img{margin: 75px 0;}
    .details-text span{color: #3F5260;	font-weight: 400; font-size: 24px;line-height: 36px; width: 45%;float: left;}
    .details-text span:last-child{margin-left: 10%;}
    .heart-img-2{margin: 75px 0; float: right;}
    /* -- Section-2 -- */


    /* -- Section-3 -- */
    .aboutus-section-3{background: #f5e1d6 url(../images/Team-bg.png) no-repeat top center; background-size: cover;
                    height: 795px;display: flex;align-items: center;justify-content: center;}
    .subheading {color: #EE797F;font-family: Spectral;font-size: 40px;font-weight: 800;letter-spacing: 0.5px;line-height: 56px;text-align: center;margin-bottom: 80px;}
    .team-box{width: 100%;/*height: 430px;*/}
    .team-section{display: flex;flex-wrap: wrap;align-items: center;justify-content: space-around;}
    .team-section li{text-align: center;}
    .team-section li img{height: 182px;	width: 182px;}
    .team-section .descp{margin-top: 30px;}
    .team-section .descp p {color: #3F5260;	font-family: Spectral;font-size: 24px;font-weight: 800;letter-spacing: 0.3px;	line-height: 48px;	text-align: center;}
    .team-section .descp article{color: #3F5260;font-family: Muli;font-size: 18px;line-height: 24px;text-align: center;}
    /* -- Section-3 -- */


    /* -- Section-4 -- */
    .aboutus-section-4{background: #f5e1d6; height: 653px;display: flex;align-items: center;justify-content: center;}
    .email-box{height: 170px;;color: #75678A;	font-family: Spectral;	font-size: 40px;	font-weight: 800;	letter-spacing: 0.5px;	line-height: 56px;	text-align: center;}
    .email-box a{color: #fb8f70;}
    /* -- Section-4 -- */

/* -- About Us -- */


/* -- FAQ -- */

    /* -- Section-1 -- */
    .faq-section-1{background: #f5e1d6 url(../images/FAQ-bg.png) no-repeat top center; background-size: cover;
        height: 735px;}
    .faq-section-1 section{display: flex;align-items: center;justify-content: center;height: 100%;}
    .if-you-don-t-see-you {width: 610px;margin: 0 auto;color: #FFFFFF;	font-family: Muli;	font-size: 24px;	line-height: 36px;	text-align: center;}
    /* -- Section-1  -- */
    
    
    /* -- Section-2 -- */
    .faq-section-2{background: #f5e1d6;padding: 100px 0;}
    .emi-text-faq {color: #6BA7AF;font-family: Spectral;font-size: 40px;font-weight: 800;letter-spacing: 0.5px;line-height: 56px;text-align: center;}    
    .accordionWrapper{width:80%; margin: 50px auto 0;}
    .accordionItem{display:block; margin-bottom: 20px;background-color: #fff;border-radius: 20px;}
    .accordionItemHeading{border-radius: 20px 20px 0 0;cursor:pointer;padding:30px;	color: #3F5260;	
                          font-family: Spectral;font-size: 24px;font-weight: 800;letter-spacing: 0.3px;line-height: 32px;}
    .close .accordionItemContent{height:0px;transition:height 1s ease-out;-webkit-transform: scaleY(0);
                                transform: scaleY(0);float:left;display:block;    }
    .accordionItemContent{padding: 30px;padding-top: 0;display:block;-webkit-transform: scaleY(1);transform: scaleY(1);
                         -webkit-transform-origin: top;transform-origin: top;transition: -webkit-transform 0.4s ease;
                         transition: transform 0.4s ease;transition: transform 0.4s ease, -webkit-transform 0.4s ease;
                         color: #3F5260;	font-family: Muli;	font-size: 18px;	line-height: 28px;}
    /* -- Section-2 -- */

/* -- FAQ -- */


/* -- 404 -- */
.erroe404-page{background: url(../images/404.png) no-repeat top center; background-size: cover;height: 100vh;}
.custom-btn {width: 171px;border-radius: 8px;background-color: #FB8F70;padding: 15px;text-align: center;
             margin: 0 auto;color: #FFFFFF;font-family: Muli;font-size: 18px;font-weight: bold;line-height: 23px;}
.erroe404-page section{position: absolute;top: 0;left: 0;bottom: 0;right: 0;margin: auto;height: 150px;}
/* -- 404 -- */


/* -- footer -- */
footer{background: #f5e1d6 url(../images/footer-background.svg) no-repeat top center; background-size: cover;
       height: 235px;display: flex;align-items: flex-end;}
.footer-box{display: flex;align-items: first baseline;justify-content: space-between;width: 100%;flex-wrap: wrap;}
.sign-up-for-our-news {color: #FFFFFF;	font-family: Spectral;	font-size: 24px;	font-weight: 800;	letter-spacing: 0.3px;	line-height: 52px;}
.socai-media{text-align: center;}
.socai-media a{display: inline-block; vertical-align: middle;}
.socai-media a + a{padding-left: 40px;}
.socai-media a img {height:36px;	width: 36px;}
.ters-cond-box a{padding-right: 40px; display: inline-block;vertical-align: middle;color: #FFFFFF;	font-family: Muli;	font-size: 18px;	font-weight: bold;	line-height: 23px;}
.ters-cond-box a:last-child{padding-right: 0;}
.emi-inc-all {margin: 20px 0;color: #FFFFFF;font-family: Muli;font-size: 12px;text-align: center;line-height: 16px;}
.email-textbox-section{position: relative;width: 300px;}
.enter-your-email {width: 100%;color: #FFFFFF;	font-family: Muli;font-size: 18px;line-height: 23px;    border: 0;
    padding-bottom: 10px;border-bottom: 1px solid #fff;background: transparent;}
    .enter-your-email:focus { border-bottom: 1px solid #FB8F70;}
footer .enter-your-email {padding-right:30px ;}
.send-btn{background: transparent;border: 0;position: absolute;top: 0;right: 5px;bottom: 5px;cursor: pointer; ;}
.footer-box .thank-you-for-reques{padding-top: 0px;font-size: 16px;line-height: 18px;width: 300px;}
/* -- footer -- */

.cookies-section {display: none;;background: #fff;position: fixed;bottom: 30px;width: 708px;padding: 10px;border-radius: 20px;
                  margin: auto;left: 0;right: 0;z-index: 99;text-align: center;}
.cookies-section *{display: inline-block; vertical-align: middle;}
.cookies-section span {color: #3F5260;font-family: Muli;font-size: 18px;font-weight: bold;line-height: 32px;padding: 0 10px;}
.cookies-section .iAgree {display: inline-block;color: #FB8F70;	font-family: Muli;	font-size: 18px;	font-weight: bold;	line-height: 23px;cursor: pointer;}


@media only screen and (min-width:320px) and (max-width:767px) {
    header{padding: 15px 0;}
    .header-section{position: relative;}
    .web-menu{display: none;}
    .mobile-panel{display: block;}
    .mobile-menu-icon {display: block;position: absolute;right: 0;top: 0;}
    .sticky-header{padding: 15px 0;}
    .sticky-header .download-app{display: none;}
    nav, nav li {display: block;}
    .mobile-panel{background: #b29dd1;position: fixed;width: 0;left: 0;top: 0;height: 100%;
        z-index: 9;text-align: center;overflow-x: hidden;-webkit-transition:0.5s;-moz-transition: 0.5s;
        -ms-transition:  0.5s;-o-transition:  0.5s;transition: 0.5s;}
    nav li{margin-right: 0;}
    nav li a.active::before, nav li a.active::after{display: none;}
    .menu-navigation{margin-top: 80px;}
    .mobile-panel-heading{display: flex;align-items: center;}
    .mobile-panel-heading .menu-close{margin-left: auto;}
    .mobile-panel-box{padding: 15px;}
    .mobile-panel-box nav li{color: #FFFFFF;font-family: Spectral;font-size: 24px;font-weight: 800;
                            line-height: 32px;text-align: center; margin-bottom: 40px;}
    .mobile-panel-box .download-app{display: block;margin: 40px auto 0;}
    
    
    /* -- HomePage -- */
    .right-side{margin-left: initial;}

    .homepage-section-1 {width: 100%;background: url(../images/home_mobile_banner.svg) no-repeat;
                        height: auto;background-size: 100% 60%;}
    .your-daily-relations{margin: 0 auto;font-size: 24px;line-height: 32px;padding-top: 0;text-align: center;letter-spacing: normal;}
    .homepage-email-textbox-section{margin: 30px 0 50px;}
    .homepage-email-textbox-section .send-btn{margin-top: 25px;position: relative;z-index: 1;}
    .homepage-email-textbox-section .enter-your-email {width: 100%;max-width: 300px;}
    .homepage-section-1 .image-section{position: relative;background: none;width: 100%;margin: 0 auto;}
    .homepage-section-1 .image-section::after {background: url(../images/dottedshape.svg) no-repeat;content: "";
                                                height: 300px;width: 171px;position: absolute;top: -120px;
                                                right: -15px;background-size: cover;z-index: 0;}
    .homepage-section-1 .banner {padding-top: 25px;}
    .homepage-section-1 .image-section img{position: relative;z-index: 1;}

    .homepage-section-2, .homepage-section-3, .homepage-section-4 {margin: 100px 0 0;}
    .homepage-section-2 .container,
    .homepage-section-3 .container,
    .homepage-section-4 .container {padding: 0;}

    .homepage-section-2 .image-section{order: 2;background: url(../images/mobile2-bg_mobile.svg) no-repeat;
        background-size: 100% 100%;margin: 0 auto;height:440px;;}
    .homepage-section-2 .image-section img{height: auto;width: 240px;position: relative;z-index: 1;margin-top: -30px;}
    .homepage-section-2 .image-section::after{background: url('../images/homepage-section2_mobile.svg') no-repeat;
                                              left: 0px;bottom: 0;top: auto;height: 336px;width: 100%;
                                              background-size: 100% 100%;}
                                              .homepage-section-2 .descp-section{margin-bottom: 70px;}

    .homepage-section-3 .image-text-section{padding-top: 100px}
    .homepage-section-3 .image-section{order: 2;background: url(../images/mobile3-bg_mobile.svg) no-repeat top;
        background-size: 100% 100%;height: 440px;width: 570px;margin: 0 auto;}
    .homepage-section-3 .image-section img{height: auto;width: 240px;position: relative;z-index: 2; margin-top: 0;}
    .homepage-section-3 .descp-section{width: 100%;margin-left: 0;margin: 0 auto 30px;padding: 0 5px;position: relative;
        z-index: 2;}
    .homepage-section-3 .image-text-section::after {content: "";background: url(../images/section3-circle_mobile.svg) no-repeat;background-size: auto;height: 100%;width: 100%;position: absolute;top: 0px;left: 0px;right: 0;background-size: 100% 100%;z-index: 1;height: 368px;margin: auto;bottom: auto;}

    .homepage-section-4{position: relative;background: none;}
    .homepage-section-4 .image-section{order: 2;background: url(../images/mobile4-bg_mobile.svg) no-repeat;
    background-size: 100% 100%;margin: 0 auto; height: 440px;}
    .homepage-section-4 .image-section img{height: auto;width: 240px;position: relative;z-index: 1;
        margin-top: -30px;}
    .homepage-section-4 .descp-section{margin-bottom: 70px; z-index: 2;}
    .homepage-section-4::after {background: url('../images/waves-web_mobile.svg') no-repeat top right;content: "";width: 170px;height: 369px;
                                right: 0;top: -60px;position: absolute;}

    .descp-section{text-align: center; width: 100%; margin-bottom:30px;}
    .descp-section h2{font-size: 24px;letter-spacing: normal;line-height: 32px;}
    .descp-section p{font-size: 16px;letter-spacing: normal;line-height: 24px;}


    .testimonial{background: url('../images/testimonials-backgroud_mobile.png') no-repeat;margin-top: 100px;
                background-size: 100% 100%;height: auto;}
    .testimonial-box{width: 100%;;}
    .testimonial-content{font-size: 24px;letter-spacing: normal;line-height: 32px;}
    .testimonial-descp p{font-size:18;line-height: 24px;}
    .testimonial-descp article{font-size:16px;line-height: 24px;}
    
    .downloadapp-section-box{width: 100%;}
    .downloadapp-section p{font-size: 24px;line-height: 32px;letter-spacing: normal;text-align: center;}
    .downloadapp-section::before{display: none;}
    .downloadapp-section::after{background: url('../images/dottedshape.svg') no-repeat;bottom: -40px;
                                    width: 170px;height: 298px;top: 30px;}

    /* -- HomePage -- */


    /* -- AboutUs -- */
    .aboutus-section-1 {background: #f5e1d6 url(../images/About_mob-bg-1.png) no-repeat top center;
                        background-size: 100% 100%;height: 327px;}
    .logo img{height: 33px;width: 87px}
    .strong-relationships{font-size: 24px;line-height: 32px;margin-bottom: 10px;}
    .live-happier-and-hea{font-size: 16px;}
    .aboutus-section-1 section{padding: 50px 0 0; height: auto;}


    .emi-means-smile-in{font-size: 24px;line-height: 32px;text-align: center;}
    .details-text span{font-size: 16px;line-height:24px;width: 100%;}
    .details-text span:last-child{margin-left: 0;margin-top: 20px;}
    .heart-img {margin: 35px 0;width: 225px;height: 105px;}
    .heart-img-2{margin: 35px 0;float: right;height: 48px;width: 185px;}

    .aboutus-section-3{background: #f5e1d6 url(../images/Team_mobile-bg.png) no-repeat top center;background-size: 100% 100%;height: 946px;}
    .subheading{font-size: 24px;line-height: 32px;margin-bottom: 30px;}
    .team-section{flex-direction: column;}
    .team-section li:not(:last-child){margin-bottom: 30px;}
    .team-section .descp{margin-top: 15px;}
    .team-section li img{height: 108px;	width: 112px;}
    .team-section .descp p{font-size: 20px;line-height: 28px;}
    .team-section .descp article{font-size: 16px;line-height: 24px;}

    .aboutus-section-4{height: 368px;}
    .email-box{font-size: 24px;letter-spacing: normal;line-height: 32px;}

    footer{background: #f5e1d6 url(../images/footerBackground.svg) no-repeat top center;height: 458px;background-size:cover; }
    .footer-box{align-items: center;flex-direction: column}
    .sign-up-for-our-news{text-align: center;font-size: 20px;line-height: 32px;margin-bottom: 25px;letter-spacing: normal;}
    .socai-media{order: 3;}
    .email-textbox-section{width:100%;}
    .ters-cond-box{margin: 30px 0;text-align: center;}
    .ters-cond-box a{padding-bottom: 25px;display: block;padding-right: 0;}
    .ters-cond-box a:last-child{padding-right: 0;padding-bottom: 0;}
    .emi-inc-all{margin: 30px 0 10px; }
    /* -- AboutUs -- */


    /* -- faq -- */
    .faq-section-1 {background: #f5e1d6 url(../images/NewProject.png) no-repeat top center;
                    background-size: 100% 100%;height: 327px;}   
    .faq-section-1 section{height: 70%;}
    .if-you-don-t-see-you{font-size: 16px;width: 100%;line-height: 24px;}
    .if-you-don-t-see-you p {display: inline; margin-left: 5px}

    .faq-section-2{padding: 58px 0;}
    .emi-text-faq{font-size: 24px;line-height: 32px;letter-spacing:normal;}
    .accordionWrapper{width: 100%;margin: 20px auto 0;}
    .accordionItemHeading{padding: 15px;line-height: 25px;font-size: 16px;letter-spacing:normal;}
    .accordionItemContent{padding: 15px;font-size: 16px;line-height: 24px;padding-top: 0;}
    /* -- faq -- */

    /* -- 404 -- */
    .erroe404-page{height: 100vh;}
    /* -- 404 -- */
    
    .cookies-section {
        width: 90%;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation : landscape){
    .homepage-section-2 .image-section{background: url(../images/mobile2-bg.svg) no-repeat;background-size: contain;margin: 0 auto;}
    .homepage-section-2 .image-section::after{content: "";position: absolute;height: 314px;width: 300px;
                                              background: url('../images/homepage-section2.png') no-repeat;left: auto;top: 80px;
                                              background-size: contain;}
    
    .homepage-section-3 .image-section{background: url(../images/mobile3-bg.svg) no-repeat center center;background-size: contain;margin: 0 auto;}

    .homepage-section-4 .image-section{background: url(../images/mobile4-bg.svg) no-repeat center center;background-size: contain;margin: 0 auto;}

    .testimonial{background: url('../images/testimonials-backgroud.png') no-repeat;background-size: cover;}
    .faq-section-1{background: #f5e1d6 url(../images/FAQ-bg.png) no-repeat top center;background-size:100% 100%;}
    .aboutus-section-1{background: #f5e1d6 url(../images/About-bg-1.png) no-repeat top center;background-size:100% 100%;}
    }        

@media only screen and (min-width:768px) and (max-width:991px) {
    .container{max-width: 750px;}
    .logo{margin-right: 125px;}

    .details-text span{width: 100%;}
    .details-text span:last-child {margin-top: 30px;margin-left: 0;}
    .team-section li img{height: 162px;	width: 162px;}

    .socai-media a{padding-right: 20px;}
    .ters-cond-box a{padding-bottom: 10px;display: block;text-align: right;padding-right: 0;}


    /* -- HomePage -- */
    .homepage-section-1{height: 420px;}
    .your-daily-relations{width: 35%;font-size: 24px;letter-spacing: normal;line-height: 36px;padding-top: 0;}
    .homepage-section-1 .image-section{height: 420px;width: 60%;}
    .homepage-section-1 .image-section img{height: 420px;}
    .homepage-email-textbox-section .send-btn{margin-top: 20px;}

    .homepage-section-2 .image-section{height: 420px;width: 60%;}
    .homepage-section-2 .image-section img{height: 420px;}
    .homepage-section-2 .image-section::after{height: 264px;top: 130px;}
    .descp-section{width: 35%;}
    .descp-section h2{font-size: 24px;letter-spacing: normal;line-height: 34px;}
    .descp-section p{font-size: 18px;line-height: 24px;}

    .homepage-section-3 .descp-section{width: 35%;}
    .homepage-section-3 .image-section{height: 420px;width: 60%;}
    .homepage-section-3 .image-section img{height: 420px;}
    .homepage-section-3 .image-text-section::after{width: 50%;top: 30px;left: -10px;height: 420px;}
    .homepage-section-3 .descp-section{margin-left: 0;padding-left: 20px;}

    .homepage-section-4{background-size: 25%;}
    .homepage-section-4 .image-section{height: 420px;width: 60%;}
    .homepage-section-4 .image-section img{height: 420px;}
    
    .testimonial{height: 500px;}
    .testimonial-box{height: 500px;width: 100%;}
    .testimonial-content{font-size: 24px;line-height: 36px;letter-spacing: normal;}

    .downloadapp-section-box{width: 100%;}
    .downloadapp-section p{font-size: 32px;line-height: 46px;}
    /* -- HomePage -- */
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .container{max-width: 970px;}

    .homepage-section-1{height: 480px;}
    .homepage-section-1 .image-section{height: 480px;width: 430px;}
    .homepage-section-1 .image-section img{height: 480px;}

    .homepage-section-2 .image-section{height: 510px;width: 500px;}
    .homepage-section-2 .image-section img{height: 480px;}
    .homepage-section-2 .image-section::after{height: 304px;top: 140px;}

    .homepage-section-3 .image-section{height: 535px;width: 550px;}
    .homepage-section-3 .image-section img{height: 480px;}
    .homepage-section-3 .image-text-section::after{height: 560px;width: 520px;left: -20px;}  
    .homepage-section-3 .descp-section{margin-left: 40px;} 
    
    
    .homepage-section-4 .image-section{height: 480px;width: 510px;}
    .homepage-section-4 .image-section img{height: 480px;}
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 55px !important; }

.swiper-pagination-bullet {
        width: 10px !important;
        height: 10px !important;
        display: inline-block;
        border-radius: 100%;
        background: rgb(255, 255, 255) !important;
        opacity: 0.4 ;
    }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {left:0px !important;}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{right:0px !important;}